body{
    background: url("../imagenes/aduriz.jpeg") no-repeat #ff0000b7;
    background-size: auto 100%;
    background-attachment: fixed ;
    background-position: center;
    font-size: 16px;
}
#principal{
    margin: 0 auto;
    width: 55%;
    height: 2000px;
    background: #ffffffbe;
    background-size: 500px 500px;
}
/* ---- Cookies --------------------------------------------------------------- */
.wrapper{
  position: fixed;
  bottom: 1.9em;
  left: 1.9em;
  max-width: 23em;
  background: #fff;
  padding: 1.56em 1.56em 1.58em 1.56em;
  border-radius: 0.9375em;
  box-shadow: 0.0625em 0.4375em 0.875em -0.3125em rgba(0,0,0,0.15);
  text-align: center;
  font-size: 1vw;
}
.wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #FCBA7F;
}
.wrapper img{
  max-width: 5.625em;
}
.content header{
  font-size: 1.5625em;
  font-weight: 600;
}
.content{
  margin-top: 0.625em;
}
.content p{
  color: #858585;
  margin: 0.3125em 0 1.25em 0;
}
.content .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button{
  padding: 0.625em 1.25em;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.3125em;
  background: #ff0000b7;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover{
  transform: scale(0.97);
}
.buttons .item{
  margin: 0 0.625em;
}
.buttons a{
  color: #ff0000b7;
}
/* ---- Menú --------------------------------------------------------------- */
#menu {
    background: transparent;
    margin: 0 5px;
    padding: 10px 0 0 0;
  }
  
  #menu ul {
    margin: 0 10px;
    padding: 0;
    list-style:none;
  }
  
  #menu ul li {
    margin: 0 5px 0 0;
    padding: 0;
    float:left;
  }
  
  #menu ul li a {
    padding: 5px 15px;
    border: 0;
    background: transparent;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
  #menu ul li a:hover {
    border-radius: 20px;
    background:#ff0000b7;
    color: white;
    
  }
  
  #menu ul li.seleccionado a {
    background: transparent;
    color: #ff0000;
  }
 /* ---- Otro --------------------------------------------------------------- */ 
#publicidad #pIzquierda{
    margin: 0 auto;
    width: 55%;
    height: 1000px;
    background: yellow ;
    background-size: 500px 500px;


}

 /* ---- Popup --------------------------------------------------------------- */ 

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  float: right;
  margin: 0.625em 0.625em;
  padding: 1.25em;
  background: #fff;
  border-radius: 1.25em;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 1.25em;
  right: 1.875em;
  transition: all 200ms;
  font-size: 1.875em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #ff0000b7;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 1000px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

}
@media screen and (max-width: 600px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
  .wrapper{
    font-size: 1.5vw;
    margin: 0 auto;

  }
}
