:root {
  --main-color: var(--claro-main-color);
  --second-color: var(--claro-second-color);
  --text-color: var(--claro-text-color);
  --bg-color: var(--claro-bg-color);
  --cookie-filter: var(--claro-cookie-color);

  --claro-main-color: #ff0000b7;
  --claro-second-color: #f0f0f0;
  --claro-text-color: #000000;
  --claro-bg-color: #ffffff;
  --claro-cookie-filter: invert(0);

  --oscuro-main-color: #ff0000b7;
  --oscuro-second-color: #141414;
  --oscuro-text-color: #ffffff;
  --oscuro-bg-color: #000000;
  --oscuro-cookie-filter: invert(1);
}
body {
  background: url("../imagenes/fondo_aduriz.jpeg") no-repeat fixed center, black;
  background-size: 100% auto;
  background-blend-mode: luminosity;
  font-size: 16px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  color: var(--text-color);
  filter: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
#principal {
  margin: 0px auto;
  top: 30px;
  width: 55%;
  height: 100%;
  background: var(--bg-color);
  background-size: 500px 500px;
  min-width: 200px;
  padding: 20px;
  position: relative;
  cursor: text;
  opacity: 1;
  list-style: none;
}
p {
  margin: 20px 0;
  text-align: justify;
  text-justify: newspaper;
}
/* ---- Cookies --------------------------------------------------------------- */
.wrapper img {
  filter: var(--cookie-filter);
}
.wrapper {
  position: fixed;
  bottom: 1.9em;
  left: 1.9em;
  max-width: 23em;
  background: var(--bg-color);
  padding: 1.56em 1.56em 1.58em 1.56em;
  border-radius: 0.9375em;
  box-shadow: 0.0625em 0.4375em 0.875em -0.3125em rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 1vw;
  z-index: 2;
}
.wrapper.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection {
  color: var(--second-color);
  background: var(--main-color);
}
.wrapper img {
  max-width: 5.625em;
}
.content header {
  font-size: 1.5625em;
  font-weight: 600;
}
.content {
  margin-top: 0.625em;
}
.content p {
  color: #858585;
  margin: 0.3125em 0 1.25em 0;
}
.content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  padding: 0.625em 1.25em;
  border: none;
  outline: none;
  color: var(--second-color);
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.3125em;
  background: var(--main-color);
}
.buttons button:hover {
  opacity: 70%;
}
.buttons .item {
  margin: 0 0.625em;
}
.buttons a {
  color: var(--main-color);
}
.wrapper + img {
  filter: var(--second-color);
}
/* ---- Menú --------------------------------------------------------------- */
#menu {
  background: var(--second-color);
  padding: 10px;
  position: fixed;
  width: 100%;
  float: left;
  text-align: center;
  display: inline;
  z-index: 1;
}

#menu ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#menu ul li {
  margin: 0;
  display: inline-block;
}

#menu ul li a {
  border: 0;
  background: transparent;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}

#menu ul li a:hover {
  background: var(--main-color);
  color: var(--second-color);
}

#menu ul li.seleccionado a {
  background: transparent;
  color: var(--main-color);
}

/* ---- Otro --------------------------------------------------------------- */
#publicidad #pIzquierda {
  margin: 0 auto;
  width: 55%;
  height: 1000px;
  background: yellow;
  background-size: 500px 500px;
}

/* ---- Popup --------------------------------------------------------------- */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000vw);
  }
  100% {
    transform: translateX(0);
  }
}
.overlay {
  /*animation: 8s ease-out 0s 1 slideInFromLeft;*/
  position: fixed;
  top: 70px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  border-radius: 1.25em;
  float: right;
  box-shadow: 0.0625em 0.4375em 0.875em -0.3125em rgba(0, 0, 0, 0.15);
  z-index: 1000;
  cursor: not-allowed;
}
#popup1.overlay {
  background: url("../imagenes/calamardo.jpg") var(--second-color) no-repeat;
  background-size: 110px;
  background-position: left;
}
#popup2.overlay {
  background: url("../imagenes/alonso.jpg") var(--second-color) no-repeat;
  background-size: 110px;
  background-position: left;
}
.overlay:hover {
  opacity: 10%;
}

.overlay:target {
  visibility: visible;
  opacity: 0.95;
  animation: 10s ease-out 1 slideInFromLeft;
}
.popup:hover {
  background-color: #008cff4d;
}

.popup {
  float: right;
  padding: 1.25em;
  background: transparent;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  margin-left: 100px;
  margin-right: 30px;
  color: var(--text-color);
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0.25em;
  right: 0.75em;
  transition: all 200ms;
  font-size: 1.875em;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}
.popup .close:hover {
  color: var(--main-color);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-left: 100px;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 2.3vw;
    transform: translateX(14.1vw);
  }
}
#popup1

/* ---- Artículo --------------------------------------------------------------- */
div.articulo {
  margin: 5em 1em 1em 1em;
}
.articulo img {
  width: 100%;
}
/* ---- anuncio --------------------------------------------------------------- */
#anuncioIzquierda {
  float: left;
  height: 100%;
  width: 12%;
  background-color: #ffee00a8;
  position: fixed;
}
#anuncioDerecha {
  margin-right: 5px;
  height: 100%;
  width: 12%;
  background-color: #0044ff9c;
  position: fixed;
}
/* ---- Horario --------------------------------------------------------------- */
table#horario {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  margin-top: 30px;
}
table {
  color: black;
}
/* ---- modo claro/oscuro --------------------------------------------------------------- */
.switch {
  width: 60px;
  height: 34px;
  float: left;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: left;
  transition: 0.4s;
  border-radius: 10px;
  background-color: #ff00006e;
}

.slider::before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: #ff0000b7;
  transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  list-style: circle;
}

input:checked + .slider:before {
  transform: translateX(34px);
}
div#modos {
  top: 1px;
  left: 40px;
  width: 72px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  float: left;
  position: relative;
}
i {
  font-size: 25px;
  float: left;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  color: var(--text-color);
}
.bi.bi-brightness-high {
  transform: translateX(-40px);
}
.bi.bi-moon {
  transform: translateX(40px);
}
/* ---- resumen --------------------------------------------------------------- */
.resumen iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
.minimenu {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--bg-color);
  z-index: 10;
}
.resumen img {
  width: 100%;
}
/* ---- miniMenú --------------------------------------------------------------- */
.minimenu {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: inline;
}

.minimenu ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.minimenu ul li {
  margin: 0;
  display: inline-block;
}

.minimenu ul li a {
  border: 0;
  background: transparent;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 15px;
}

.minimenu ul li a:hover {
  color: var(--main-color);
}

.minimenu ul li.seleccionado a {
  background: transparent;
  color: var(--main-color);
}
/* ---- pie --------------------------------------------------------------- */

div#pie {
  background-color: transparent;
  padding: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  border-top: solid 1px var(--text-color);
}

#pie ul {
  list-style: none;
  display: inline-block;
  padding: 0 4vw;
}
#pie ul li {
  margin: 0;
}
#pie ul li a {
  border: 0;
  background: transparent;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
}
/* ---- fotos --------------------------------------------------------------- */
div#fotos img {
  width: 100%;
  height: 100%;
}

div#fotos div {
  display: none;
}
div#fotos div:target {
  display: block;
  width: 100%;
}
div#fotos div a {
  display: inline;
  background-color: red;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 42px;
  color: var(--bg-color);
  margin-top: 0;
  padding-top: 0;
}
div#fotos div a:hover {
  opacity: 90%;
}
div#fotos div a.right {
  position: fixed;
  margin-right: 0;
  transform: translate(109vh, 50vh);
}
div#fotos div a.left {
  position: fixed;
  transform: translate(-25px, 50vh);
}
/* ---- Jugadores --------------------------------------------------------------- */
div.jugador {
  width: 50%;
  margin: 0 auto;
}
.jugador ul {
  list-style: none;
}

div.jugador #nombre {
  font-size: 27px;
  margin-bottom: 10px;
  font-weight: bold;
}
div.jugador #dorsal {
  font-size: 160px;
  margin: 0;
  padding: 0;
  float: left;
  transform: translate(100px, -30px);
  color: red;
}
#datos {
  font-size: 17px;
  margin: 30px auto;
  transform: translateX(100px);
}
.jugador img {
  height: auto;
}
/* ---- Login --------------------------------------------------------------- */
div#login {
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  min-width: 500px;
  max-width: 500px;
  color: black;
}

#login img {
  margin-left: 50%;
  transform: translatex(-50%);
  max-width: 200px;
  max-height: 100px;
}
div.maindiv {
  margin: 0 auto;
  width: 390px;
  padding: 3rem;
  display: inline-block;
}
#login label {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  margin-left: 10px;
}
#login input {
  background-color: #c9c9c9;
  border-radius: 12px;
  border: 0;
  color: black;
  padding-left: 10px;
  font-size: 18px;
  height: 40px;
  outline: 0;
  width: 100%;
  margin-top: 20px;
}
#login button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: white;
  border-radius: 40px;
  outline: none;
  min-width: 88px;
  margin-top: 10px;
}
#login button.volver {
  background-color: #a3a3a3;
  float: left;
}
#login button.iniciarSesion {
  background-color: #ff0000b7;
  float: right;
}
#login button:hover {
  opacity: 70%;
}
.placeholder1,
.placeholder2 {
  transform: translatey(-65px);
}
#login input#usuario:focus ~ .placeholder1,
#login input#contraseña:focus ~ .placeholder2 {
  transform: translatey(-65px);
  transition: 1s;
}
#login input#usuario:placeholder-shown ~ .placeholder1,
#login input#contraseña:placeholder-shown ~ .placeholder2 {
  transform: translatey(-30px);
  transition: 1s;
}
